<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Registration Page</title>
</head>
<body>
    <div align="center">
        <h1>Registration</h1>
        <br />
        <form th:action="@{/registration/do}" th:object="${user}" method="post">
 
            <table border="0" cellpadding="10">
                <tr>             
                    <td><label for="firstname">First Name</label>:</td>
                    <td>
                        <input type="text" id="firstname" th:field="*{firstname}" required pattern="[a-zA-Z]+" />
                    </td>
                </tr>        
                <tr>             
                    <td><label for="lastname">Last Name</label>:</td>
                    <td>
                        <input type="text" id="lastname" th:field="*{lastname}" required pattern="[a-zA-Z]+"  />
                    </td>
                </tr>
                <tr>
                    <td><label for="email">Email ID</label>:</td>
                    <td><input type="email" id="email" th:field="*{email}"  required/></td>
                </tr>
                <tr>
                    <td><label for="password">Password</label>:</td>
                    <td><input type="password" id="password" th:field="*{password}" required  pattern=".{8,}" /></td>
                </tr>                         
                <tr>
                    <td colspan="2"><button type="submit" id="register" >REGISTER</button> </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>