<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head lang="en">
      <meta charset="UTF-8" />
      <title>Select Tests</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
      <div id="msg">Select the Test</div>
      <br/><br/>
      <a th:href="@{/springAssessment.html}">Spring Assessment</a>  
      <br/>
      <a th:href="@{/hibernateAssessment.html}">Hibernate Assessment</a>
      <br/><br/>
      <a th:href="@{/logout}">Logout</a>     
   </body>
</html>